/* Color para Título 1 */
.cm-header-1, .markdown-rendered h1 {
    color: #ff5555; 
}

/* Color para Título 2 */
.cm-header-2, .markdown-rendered h2 {
    color: #50a5fa;
}

/* Color para Título 3 */
.cm-header-3, .markdown-rendered h3 {
    color: #b17cfb;
}

/* Color para Título 4 */
.cm-header-4, .markdown-rendered h4 {
    color: #ffb86c;
}

/* Color para Título 5 */
.cm-header-5, .markdown-rendered h5 {
    color: #bd93f9;
}

/* Color para Título 6 */
.cm-header-6, .markdown-rendered h6 {
    color: #ff79c6;
}